{% if tournament_groups %}
  <ul class="list-group">
  {% for tournament_group in tournament_groups %}
  <a href="{% url 'tournament_group:view' pk=tournament_group.id %}" class="list-group-item list-group-item-action ">
    <div class="d-flex flex-column">
      <div class="tournament-group-title">{{tournament_group.title}}</div>
      <small class="mb-1">Users: {{tournament_group.get_users|length}}</small>
      <small class="mb-1">Tournaments: {{tournament_group.get_tournaments|length}}</small>
    </div>
  </a>
  {% endfor %}
</ul>
{% endif %}

<style type="text/css">

  .tournament-group-title {
/*    align-self: center;*/
    font-weight: 450;
  }


  @media only screen and (max-width: 500px) {
    .tournament-group-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 200px;
      text-align: left;
      font-size: 13px;
    }

    .tournament-date-container {
      font-size: 13px;
      width: 100px;
    }

    .tournament-state {
      font-size: 11px;
    }
  }

  @media only screen and (min-width: 500px) and (max-width: 600px) {
    .tournament-group-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 200px;
      text-align: left;
      font-size: 13px;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 768px) {
    .tournament-group-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 320px;
      text-align: left;
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .tournament-group-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 380px;
      text-align: left;
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .tournament-group-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 480px;
      text-align: left;
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .tournament-group-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 700px;
      text-align: left;
      font-size: 16px;
    }
  }

</style>
