<!-- Only usable in tournaments/tournament_backfill.html -->
{% load tournament_extras %}

{% if tournament.tournament_structure.bounty_amount != None %}
<!-- Eliminations -->
<h2 class="backfill-display-group-header">Eliminations</h2>
<hr>
<div class="backfill-display-group">
  {% for player in players %}
  <div class="player-eliminations-header d-flex flex-row {% if forloop.counter0 > 0 %}mt-3{% endif %}">
    <div class="player-eliminations-header-username">{{player.user.username}}</div>
    {% for eliminator_id,eliminated_players in elim_dict.items %}
    {% if eliminator_id == player.id %}
    <button class="btn eliminations-reset-btn" onclick="resetEliminations('{{player.id}}')">
      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-arrow-clockwise " viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
      </svg>
    </button>
    {% endif %}
    {% endfor %}
  </div>

  <div class="player-eliminations-group">
    {% for eliminator_id,eliminated_players in elim_dict.items %}
    {% if eliminator_id == player.id %}
      <ul class="list-group player-eliminations-list">
      {% for eliminated_player in eliminated_players %}
      <li class="list-group-item elimination-list-group-item">
        <div class="elimination-username">{{eliminated_player.user.username}}<div>
      </li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endfor %}
  </div>
  <!-- Empty selector for adding more -->
  <div class="elim-selector-group mt-3">
    <select class="form-select" aria-label="Selected eliminations for {{player.user.username}}" id="id_{{player.id}}_new_elim" onchange="selectElimination('{{player.id}}')">
      <option value="-1" selected> -------- </option>
      {% for player_selector_value in players %}
      {% if player.id != player_selector_value.id %}
      <option value="{{player_selector_value.id}}">{{player_selector_value.user.username}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if tournament.tournament_structure.bounty_amount != None %}
<!-- Split Eliminations -->
<h2 class="backfill-display-group-header d-flex flex-row">
  Split Eliminations
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle align-self-center split-eliminations-info-icon" viewBox="0 0 16 16" data-toggle="tooltip" data-placement="top" title="Multiple players eliminating a single player.">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
  </svg>
</h2>
<hr>

{% if split_elimination_error %}
<div class="split-elimination-error">
  {{split_elimination_error}}
</div>
{% endif %}

<!-- Split eliminations that were submitted -->
{% if split_eliminations|length > 0 %}
  <div class="split-eliminations-list-container">
    {% include 'tournament/snippets/split_eliminations_list_snippet.html' with split_eliminations=split_eliminations %}
  </div>
{% endif %}

<!-- Input for new split eliminations -->
<div class="backfill-display-group">
  <div class="split-elimination-input-form">
    <div class="eliminatee-selector-for-split-header">Who was eliminated?</div>
    <select class="form-select" aria-label="Select eliminatee for split elimination" id="id_split_eliminatee" onchange="selectEliminateeForSplit()">
      {% if selected_eliminatee_id == None or selected_eliminatee_id == -1 %}
        <option value="-1" selected> -------- </option>
      {% else %}
        {% for p in players %}
          {% if selected_eliminatee_id == p.id %}
            <option value="{{p.id}}" selected>{{p.user.username}}</option>
          {% endif %}
        {% endfor %}
        <option value="-1"> -------- </option>
      {% endif %}
      {% for inner_player in players %}
        {% if selected_eliminatee_id != inner_player.id %}
          <option value="{{inner_player.id}}">{{inner_player.user.username}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <!-- Add animation to this appearing / disappearing? -->
  {% if selected_eliminatee_id != None and selected_eliminatee_id != -1 %}
  <div class="split-elimination-input-form">
    <div class="eliminator-selector-for-split-header">Who eliminated them?</div>
    {% for player in players %}
      {% if selected_eliminatee_id != player.id %}
        <select class="form-select mb-3" aria-label="Select eliminator for split elimination" id="id_split_eliminator_{{player.id}}" onchange="selectEliminatorForSplit('{{forloop.counter0}}', '{{player.id}}')">
          <option value="-1" selected> -------- </option>
          {% for inner_player in players %}

            <!-- If there are selected eliminators -->
            {% if selected_eliminator_ids %}
              {% for eliminator_data in selected_eliminator_ids %}
                {% if eliminator_data.eliminator_id == inner_player.id and eliminator_data.eliminator_number == forloop.parentloop.parentloop.counter0 %}
                  <option value="{{inner_player.id}}" selected>{{inner_player.user.username}}</option>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if selected_eliminatee_id != inner_player.id %}
              {% if not selected_eliminator_ids|keyvalue_in_list:inner_player.id %}
                <option value="{{inner_player.id}}">{{inner_player.user.username}}</option>
              {% endif %}
            {% endif %}
          {% endfor %}
        </select>
      {% endif %}
    {% endfor %}
    <div class="d-flex flex-row justify-content-end">
      <!-- Submitting a new split elimination -->
      <button class="btn btn-danger split-elimination-submit-btn" onclick="submitSplitElimination()">Add Split Elimination</button>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
