{% load tournament_extras %}

{% for invite in invites %}
{% if request.user.id == invite.send_to.id %}
<div class="d-flex flex-row justify-content-between confirm-join-group alert alert-warning">
  <div class="confirm-join-text">Confirm you participated in this tournament.</div>
  <a href="{% url 'tournament:join_tournament' pk=invite.id %}" class="btn btn-primary confirm-join-btn">Confirm</a>
</div>
{% endif %}
{% endfor %}

<style type="text/css">

  @media only screen and (max-width: 500px) {
    .confirm-join-btn {
      font-size: 12px;
      margin-left: 8px;
    }
    .confirm-join-text {
      vertical-align: middle;
      text-align: left;
      font-size: 12px;
    }
    .confirm-join-group {
      margin-top: 16px;
      text-align: center;
      align-items: center;
    }
  }

  @media only screen and (min-width: 501px) {
    .confirm-join-btn {
      margin-left: 8px;
    }
    .confirm-join-text {
      vertical-align: middle;
      text-align: left;
      font-size: 12px;
    }
    .confirm-join-group {
      margin-top: 16px;
      text-align: center;
      align-items: center;
    }
  }
</style>
