<!--
This is used if the tournament is a bounty tournament OR rebuys are allowed.
Otherwise use player_admin_table_simple.html
 -->

{% load tournament_extras %}

<!-- Elimination Modals -->
{% include 'tournament/snippets/player_admin_elimination_modals.html' with player_tournament_data=player_tournament_data %}

<!-- Rebuy Modals -->
{% include 'tournament/snippets/player_admin_rebuy_modals.html' with player_tournament_data=player_tournament_data %}

{% for player_data in player_tournament_data %}
  <div class="player-table-container">
    <div class="d-flex flex-row justify-content-between player-action-button">
      <p class="player-table-username">{{player_data.username}}</p>
      <div class="">
        {% if player_data.is_eliminated == True %}
        <button class="btn btn-success player-action-button" data-bs-toggle="modal" data-bs-target="#id_rebuy_modal_{{player_data.user_id}}">Rebuy</button>
        {% else %}
          <button class="btn btn-danger player-action-button" onclick="eliminationModalClicked('{{player_data.user_id}}')" data-bs-toggle="modal" data-bs-target="#id_eliminate_modal_{{player_data.user_id}}">Eliminate</button>
        {% endif %}
      </div>
    </div>
    <p class="{% if player_data.is_eliminated == True %}text-danger{% else %}text-success{% endif %} player-table-status">
      {% if player_data.is_eliminated == True %}Eliminated{% else %}Active{% endif %}
    </p>

    <div class="player-table">
      <table class="table">
        <thead>
          <tr>
            {% if is_bounty_tournament %}
            <th scope="col" class="table-header">Bounties</th>
            {% endif %}
            {% if allow_rebuys %}
            <th scope="col" class="table-header">Rebuys</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if is_bounty_tournament %}
            <td scope="row" class="table-row">{{player_data.bounties|format_table_number}}</td>
            {% endif %}
            {% if allow_rebuys %}
            <td class="table-row">{{player_data.rebuys|format_table_number}}</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endfor %}

<style type="text/css">

  @media only screen and (max-width: 500px) {
    .player-table-container {
      margin-top: 16px;
      background-color: #f2f2f2;
      border-radius: 8px;
      padding: 12px;
      font-size: 12px;
    }

    .player-table {
      background-color: #fff;
      border-radius: 8px;
      padding: 4px;
    }

    .table-row {
      text-align: center;
    }

    .table-header {
      text-align: center;
    }

    .player-action-button {
      font-size: 12px;
    }

    .player-table-username {
      font-weight: 450;
      font-size: 18px;
      margin-bottom: 4px;
      max-width: 250px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
    }

    .player-table-status {
      margin-bottom: 6px;
      margin-top: 4px;
    }
  }


  @media only screen and (min-width: 501px) {
    .player-table-container {
      margin-top: 32px;
      background-color: #f2f2f2;
      border-radius: 8px;
      padding: 12px;
    }

    .player-table {
      background-color: #fff;
      border-radius: 8px;
      padding: 8px;
    }

    .table-row {
      text-align: center;
    }

    .table-header {
      text-align: center;
    }

    .player-action-button {
      font-size: 16px;
    }

    .player-table-username {
      font-weight: 450;
      font-size: 20px;
      margin-bottom: 3px;
      margin-top: 3px;
      max-width: 350px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
    }

    .player-table-status {
      margin-bottom: 8px;
      margin-top: 4px;
      font-size: 14px;
    }
  }

</style>


