<!-- Modal -->
{% for player in players %}
  <div class="modal fade" id="id_remove_modal_{{player.user.id}}" tabindex="-1" aria-labelledby="{{player.user.username}} Remove Modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="id_remove_modal_title">
            Remove {{player.user.username}}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column">
          Are you sure you want to remove {{player.user.username}} from the tournament?
        </div>
        <div class="modal-footer" id="id_elim_model_button_container">
          <button class="btn btn-danger" hx-get="{% url 'tournament:remove_player' user_id=player.user.id tournament_id=tournament.id %}" hx-trigger="click" hx-target="#body_container">Remove</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
