<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><div class="table-col">Total</div></th>
        {% if tournament_structure.is_bounty_tournament %}
          <th scope="col"><div class="table-col">Bounty</div></th>
        {% endif %}
        <th scope="col"><div class="table-col">Rebuys</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"><div class="table-row">${{tournament_structure.buyin_amount}}</div></td>
        {% if tournament_structure.is_bounty_tournament %}
          <td><div class="table-row">${{tournament_structure.bounty_amount}}</div></td>
        {% endif %}
        <td><div class="table-row">
          {% if tournament_structure.allow_rebuys %}
            Yes
          {% else %}
            No
          {% endif %}
        </div></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tournament-placements-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><div class="table-col">Placement</div></th>
        <th scope="col table-col"><div class="table-col">Payout (%)</div></th>
      </tr>
    </thead>
    <tbody>
      {% for pct in tournament_structure.payout_percentages %}
        <tr>
          <td scope="row"><div class="table-row">{{forloop.counter}}</div></td>
          <td><div class="table-row">{{pct}}</div></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<style type="text/css">

  @media only screen and (max-width: 500px) {
    .table-col {
      font-size: 12px;
      text-align: center;
    }

    .table-row {
      font-size: 12px;
      text-align: center;
    }

    .tournament-placements-container {
      padding: 4px;
      background-color: #f2f2f2;
      border-radius: 8px;
      margin-top: 8px;
    }
  }

  @media only screen and (min-width: 501px) {
    .table-col {
      font-size: 16px;
      text-align: center;
    }

    .table-row {
      font-size: 16px;
      text-align: center;
    }

    .tournament-placements-container {
      padding: 16px;
      background-color: #f2f2f2;
      border-radius: 8px;
      margin-top: 16px;
    }
  }
</style>











