{% if tournaments %}
  <ul class="list-group">
  {% for tournament in tournaments %}
  <a href="{% url 'tournament:tournament_view' pk=tournament.id %}" class="list-group-item list-group-item-action">
    <span>{{tournament.title}} (<span style="font-weight: bold; color: {% if tournament.get_state_string == 'OPEN' %}#5cb85c;{% elif tournament.get_state_string == 'COMPLETED' %}#d9534f;{% else %}#0275d8;{% endif %}">{{tournament.get_state_string}}</span>)
  </span>
  </a>
  {% endfor %}
</ul>
{% endif %}
