<!-- COMPLETED -->
{% if tournament_state.value == 2 %}
  <div class="info-icon-container d-flex flex-row" id="id_closed_state_info_icon_container" data-toggle="tooltip" data-placement="top" title="The Tournament is completed. Undo completion to make changes.">
    <div class="state-label" style="font-weight: bold; color: {% if tournament.get_state_string == 'INACTIVE' %}#5cb85c;{% elif tournament.get_state_string == 'COMPLETED' %}#d9534f;{% else %}#0275d8;{% endif %}">{{tournament.get_state_string}}</div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle align-self-center" id="id_closed_state_info_icon" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
  </div>

<!-- ACTIVE -->
{% elif tournament_state.value == 1 %}
  <div class="info-icon-container d-flex flex-row" id="id_started_state_info_icon_container" data-toggle="tooltip" data-placement="top" title="You cannot add/remove players or edit the structure.">
    <div class="state-label" style="font-weight: bold; color: {% if tournament.get_state_string == 'INACTIVE' %}#5cb85c;{% elif tournament.get_state_string == 'COMPLETED' %}#d9534f;{% else %}#0275d8;{% endif %}">{{tournament.get_state_string}}</div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle align-self-center" id="id_started_state_info_icon" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
  </div>

<!-- INACTIVE -->
{% elif tournament_state.value == 0 %}
  <div class="info-icon-container d-flex flex-row" id="id_started_state_info_icon_container" data-toggle="tooltip" data-placement="top" title="The Tournament has not been started yet.">
    <div class="state-label" style="font-weight: bold; color: {% if tournament.get_state_string == 'INACTIVE' %}#5cb85c;{% elif tournament.get_state_string == 'COMPLETED' %}#d9534f;{% else %}#0275d8;{% endif %}">{{tournament.get_state_string}} </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle align-self-center" id="id_started_state_info_icon" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
  </div>
{% endif %}

<style type="text/css">

  @media only screen and (max-width: 500px) {
    .state-label {
      text-align: bottom;
      vertical-align: bottom;
      margin-right:8px;
      font-size: 12px;
    }

    .info-icon-container {
      text-align: center;
      vertical-align: middle;
      font-size: 12px;
    }
  }

  @media only screen and (min-width: 501px) {
    .state-label {
      text-align: bottom;
      vertical-align: bottom;
      margin-right:8px;
      font-size: 16px;
    }

    .info-icon-container {
      text-align: center;
      vertical-align: middle;
      font-size: 16px;
    }
  }

</style>
<script type="text/javascript">
  // Initialize tooltip plugin
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>








