{% if invites %}
<ul class="mt-3 list-group">
{% for invite in invites %}
<div class="d-flex flex-row justify-content-between list-group-item">
  <a class="align-self-center tournament-invite-title" href="{% url 'tournament:tournament_view' pk=invite.tournament.id %}">{{invite.tournament.title}}</a>
  <div class="align-self-center">
    <button class="btn btn-primary btn-sm join-btn" hx-get="{% url 'tournament:join_tournament' pk=invite.id %}" hx-trigger="click" hx-target="#body_container">Join</button>
  </div>
</div>
{% endfor %}
</ul>
{% endif %}

<style type="text/css">

  .join-btn {
    z-index: 16;
  }

  @media only screen and (max-width: 500px) {
      .tournament-invite-title {
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
        max-width: 200px;
        text-align: left;
        font-size: 13px;
      }
  }

  @media only screen and (min-width: 500px) and (max-width: 600px) {
    .tournament-invite-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 200px;
      text-align: left;
      font-size: 13px;
    }

  }

  @media only screen and (min-width: 600px) and (max-width: 768px) {
    .tournament-invite-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 320px;
      text-align: left;
      font-size: 16px;
    }

  }

  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .tournament-invite-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 380px;
      text-align: left;
      font-size: 16px;
    }

  }

  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .tournament-invite-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 480px;
      text-align: left;
      font-size: 16px;
    }

  }

  @media only screen and (min-width: 1200px) {
    .tournament-invite-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 700px;
      text-align: left;
      font-size: 16px;
    }

  }
</style>
