{% load humanize %}
{% load tournament_extras %}

{% if tournaments %}
  <ul class="list-group">
  {% for tournament in tournaments %}
  <a href="{% url 'tournament:tournament_view' pk=tournament.id %}" class="list-group-item list-group-item-action">
    <div class="d-flex flex-row justify-content-between">
      <div class="tournament-title">{{tournament.title}}
      </div>
      <div class="d-flex flex-column tournament-date-container">
        <div>{{tournament.started_at|naturalday|none_as_empty}}</div>
        <div class="tournament-state" style="font-weight: bold; color: {% if tournament.get_state_string == 'INACTIVE' %}#5cb85c;{% elif tournament.get_state_string == 'COMPLETED' %}#d9534f;{% else %}#0275d8;{% endif %}">
          {{tournament.get_state_string}}
        </div>
      </div>
    </div>

  </a>
  {% endfor %}
</ul>
{% endif %}

<style type="text/css">

  .tournament-title {
    align-self: center;
  }

  .tournament-date-container{
    align-self: center;
  }

  @media only screen and (max-width: 500px) {
    .tournament-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 200px;
      text-align: left;
      font-size: 13px;
    }

    .tournament-date-container {
      font-size: 13px;
      width: 100px;
    }

    .tournament-state {
      font-size: 11px;
    }
  }

  @media only screen and (min-width: 500px) and (max-width: 600px) {
    .tournament-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 200px;
      text-align: left;
      font-size: 13px;
    }

    .tournament-date-container {
      font-size: 13px;
      width: 100px;
    }

    .tournament-state {
      font-size: 11px;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 768px) {
    .tournament-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 320px;
      text-align: left;
      font-size: 16px;
    }

    .tournament-date-container {
      font-size: 16px;
      width: 120px;
    }

    .tournament-state {
      font-size: 14px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .tournament-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 380px;
      text-align: left;
      font-size: 16px;
    }

    .tournament-date-container {
      font-size: 16px;
      width: 120px;
    }

    .tournament-state {
      font-size: 14px;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .tournament-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 480px;
      text-align: left;
      font-size: 16px;
    }

    .tournament-date-container {
      font-size: 16px;
      width: 120px;
    }

    .tournament-state {
      font-size: 14px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .tournament-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      max-width: 700px;
      text-align: left;
      font-size: 16px;
    }

    .tournament-date-container {
      font-size: 16px;
      width: 120px;
    }

    .tournament-state {
      font-size: 14px;
    }
  }

</style>
