{% if tournament.get_state_string == "INACTIVE" %}
{% if players or invites %}
<div class="mt-3 players-container table-responsive" id="id_players_container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col player-col">Player</th>
      <th scope="col player-col">Status</th>
      {% if request.user == tournament.admin %}
      <th scope="col player-col">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>

      {% for player in players %}
      <tr>
        <td scope="row" class="player-row">{{player.user.username}}</td>
        <td class="player-row">Joined</td>
        <td class="player-row">
          {% if request.user == tournament.admin and player.user != tournament.admin %}
          <a hx-post="{% url 'tournament:remove_player' player_id=player.user.id tournament_id=player.tournament.id %}" hx-target="#parent" hx-swap="innerHTML" class="btn btn-danger btn-sm player-action-button">Remove</a>
          {% elif request.user != tournament.admin and request.user == player.user %}
          <a hx-post="{% url 'tournament:remove_player' player_id=player.user.id tournament_id=player.tournament.id %}" hx-target="#parent" hx-swap="innerHTML" class="btn btn-danger btn-sm player-action-button">Leave</a>
          {% elif request.user == tournament.admin and request.user == player.user %}
          <span style="font-weight: bold;">admin</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      {% for invite in invites %}
      <tr>
        <td scope="row" class="player-row">{{invite.send_to.username}}</td>
        <td class="player-row">Invite pending</td>
        <td class="player-row">
          {% if request.user == tournament.admin %}
            <a hx-post="{% url 'tournament:uninvite' player_id=invite.send_to.id tournament_id=invite.tournament.id %}" hx-target="#parent" hx-swap="innerHTML" class="btn btn-warning btn-sm player-action-button">Uninvite</a>
          {% elif request.user == invite.send_to %}
            <a hx-post="{% url 'tournament:join_tournament' pk=invite.id %}" hx-target="#parent" hx-swap="innerHTML" class="btn btn-primary btn-sm player-action-button">Join</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endif %}
{% else %}
<p>Invalid state: {{tournament.get_state_string}}</p>
{% endif %}

<style type="text/css">
  @media only screen and (max-width: 500px) {
    .players-container {
      padding: 8px;
      background-color: #f2f2f2;
      border-radius: 8px;
    }

    .player-action-button {
      font-size: 12px;
    }

    .player-col {
      font-size: 12px;
    }

    .player-row {
      font-size: 12px;
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
      vertical-align: middle;
    }
  }

  @media only screen and (min-width: 501px) {
    .players-container {
      padding: 16px;
      background-color: #f2f2f2;
      border-radius: 8px;
    }

    .player-col {
      font-size: 16px;
    }

    .player-row {
      font-size: 16px;
      max-width: 380px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
      vertical-align: middle;
    }
  }
</style>







