{% extends "base.html" %}

{% block head_title %}Tournament Group{% endblock %}

{% load bootstrap5 %}
{% load humanize %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <div class="d-flex flex-row justify-content-between tournament-group-section-content-container">
        <h2 class="tournament-group-title">{{tournament_group.title}}</h2>
        {% if request.user == tournament_group.admin %}
          <a href="{% url 'tournament_group:update' pk=tournament_group.id %}" class="btn btn-outline-primary">Edit</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="group-charts-container">
  {% include 'tournament_group/charts/charts_common.html' %}
  {% include 'tournament_group/charts/net_earnings_chart.html' with users=users tournament_group=tournament_group %}
  <div class="mb-4" id="id_chart_spacing"></div>
  {% include 'tournament_group/charts/pot_contributions_chart.html' with users=users tournament_group=tournament_group %}
  <div class="mb-4" id="id_chart_spacing"></div>
  {% include 'tournament_group/charts/rebuys_and_eliminations_chart.html' with users=users tournament_group=tournament_group %}
</div>

<!-- Progress to end_date -->
<!-- TODO pull into snippet -->
{% if progress_pct > 0 and progress_pct < 100 %}
<div class="container mt-4">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h5>Progress</h5>
      <hr>
      <div class="d-flex flex-column group-progress-container">
        <div class="d-flex flex-row justify-content-between mb-2">
          <div class="chart-col-text">
            {{start_at|naturalday}}
          </div>
          <div class="chart-col-text">
            {{end_at|naturalday}}
          </div>
        </div>
        <div style="height: 30px" class="progress" role="progressbar" aria-label="Tournament Group Progress" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="{{duration}}">
          <div class="progress-bar" style="width: {{progress_pct}}%;">{{progress_pct}}%</div>
        </div>
        <div class="chart-col-text mt-2" style="font-weight: 450">
          Days remaining: {{days_remaining}}
        </div>
      </div>
    </div>
  </div>
</div>
{% elif progress_pct >= 100 %}
<div class="container mt-4">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h5>Progress</h5>
      <hr>
      <div class="d-flex flex-column group-progress-container">
        <div class="d-flex flex-row justify-content-between mb-2">
          <div class="chart-col-text">
            {{start_at|naturalday}}
          </div>
          <div class="chart-col-text">
            {{end_at|naturalday}}
          </div>
        </div>
        <div style="height: 30px" class="progress" role="progressbar" aria-label="Tournament Group Progress" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-success" style="width: 100%;">100%</div>
        </div>
        <div class="chart-col-text mt-2" style="font-weight: 450">
          Days since end: {{days_since_end}}
        </div>
      </div>
    </div>
  </div>
</div>
{% elif progress_pct <= 0 %}
<div class="container mt-4">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h5>Progress</h5>
      <hr>
      <div class="d-flex flex-column group-progress-container">
        <div class="d-flex flex-row justify-content-between mb-2">
          <div class="chart-col-text">
            {{start_at|naturalday}}
          </div>
          <div class="chart-col-text">
            {{end_at|naturalday}}
          </div>
        </div>
        <div style="height: 30px" class="progress" role="progressbar" aria-label="Tournament Group Progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-danger" style="width: 2%;">0%</div>
        </div>
        <div class="chart-col-text mt-2" style="font-weight: 450">
          Days until start: {{days_until_start}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container mt-4">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <!-- Players -->
      <h5>Players</h5>
      <hr>
      <div class="tournament-group-section-content-container">
        <!-- Display the users who have already been added -->
        {% if users %}
          {% include 'tournament_group/snippets/display_user_list_snippet.html' with tournaments=tournaments users=users %}
        {% endif %}
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <!-- Tournaments -->
      <h5>Tournaments</h5>
      <hr>
      <div class="tournament-group-section-content-container">
        {% if tournaments %}
        <div class="mt-4" style="font-weight: 500;">Tournament count: {{tournaments|length}}</div>
        <div class="mt-3">
          {% include 'tournament_group/snippets/tournament_list_snippet.html' with tournaments=tournaments %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .group-progress-container {
    border-radius: 8px;
    padding: 16px;
  }

  .group-charts-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  hr {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  @media only screen and (max-width: 500px) {
    .tournament-group-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      text-align: left;
      font-size: 16px;
      margin-right: 16px;
      margin-top: auto;
    }
    .tournament-group-section-content-container {
      font-size: 12px;
      margin-bottom: 16px;
    }
  }

  @media only screen and (min-width: 501px) {
    .tournament-group-title {
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      text-align: left;
      font-size: 24px;
      margin-right: 16px;
      margin-top: auto;
    }
    .tournament-group-section-content-container {
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 24px;
      font-size: 16px;
    }

  }
</style>

{% endblock content %}















