{% extends "base.html" %}

{% block head_title %}Profile{% endblock %}

{% block content %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container">
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
      <h1 class="mb-3">Profile</h1>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">Save</button>
      </form>
      <h4 class="mt-4">Google Account</h4>
      <p class="mt-2"><a href="{% url 'socialaccount_connections' %}">Connect or remove a google account</a>.</p>
      <h4 class="mt-4">Email Accounts</h4>
      <p class="mt-2"><a href="{% url 'account_email' %}">Edit the email addresses</a> associated with this account.</p>
      <h4 class="mt-4">Password</h4>
      <p class="mt-2"><a href="{% url 'account_change_password' %}">Change password.</p>
	</div>
  </div>
</div>

{% endblock content %}
