{% load tournament_extras %}
{% load humanize %}

{% if tournament_totals|length > 1 %}
<!-- Loading spinner to show before charts finished sizing and rendering -->
<div class="overlay" id="id_tournament_complete_spinner">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" style="width: 70px; height: 70px;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div class="charts-container d-none" id="id_charts_container">
	<div class="net-earnings-vs-losses-container">
		<canvas id="netEarningsVsLossesChartId"></canvas>
		<div class="chart-desciption-container">
			<span>This is a running summary of (1) Net Earnings (2) Gross Earnings and (3) Net Losses over time.</span>
		</div>
	</div>
</div>


<style type="text/css">
	.net-earnings-vs-losses-container {
		margin:auto;
	}
	@media only screen and (max-width: 500px) {
		.chart-desciption-container {
			display: flex;
			flex-direction: column;
			padding: 16px;
			margin: 16px;
			border-radius: 8px;
			background-color: #f2f2f2;
			margin-top: 16px;
			font-size: 12px;
			color: #4d4d4d;
		}
	}

	@media only screen and (min-width: 501px) {
		.chart-desciption-container {
			display: flex;
			flex-direction: column;
			padding: 16px;
			margin: 16px;
			border-radius: 8px;
			background-color: #f2f2f2;
			margin-top: 16px;
			font-size: 13px;
			color: #4d4d4d;
		}
	}

	@media only screen and (min-width: 700px) {
		.chart-desciption-container {
			display: flex;
			flex-direction: column;
			padding: 16px;
			margin: 16px;
			border-radius: 8px;
			background-color: #f2f2f2;
			margin-top: 16px;
			font-size: 14px;
			color: #4d4d4d;
		}
	}

</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

  	const netEarningsVsLossesContext = document.getElementById('netEarningsVsLossesChartId');

  	const labels = [];
  	const net_earnings_data = []
  	const losses_data = []
  	const gross_earnings_data = []

  	function buildTournamentTotalsData() {
  		{% for total in tournament_totals %}
  			var timestamp = '{{total.timestamp|naturalday}}'
  			labels.push(timestamp)

  			var net_earnings = '{{total.net_earnings}}'
  			net_earnings_data.push(net_earnings)

  			var losses = '{{total.losses}}'
  			losses_data.push(losses)

  			var gross_earnings = '{{total.gross_earnings}}'
  			gross_earnings_data.push(gross_earnings)

  		{% endfor %}
  		return labels
  	}

  	buildTournamentTotalsData()

	const data = {
		labels: labels,
		datasets: [
			{
				label: 'Net Earnings',
				data: net_earnings_data,
				borderColor: '#5cb85c',
				backgroundColor: '#5cb85c',
			},
			{
				label: 'Losses',
				data: losses_data,
				borderColor: '#d9534f',
				backgroundColor: '#d9534f',
			},
			{
				label: 'Gross Earnings',
				data: gross_earnings_data,
				borderColor: '#0275d8',
				backgroundColor: '#0275d8',
			}
		]
	};

	const netEarningsVsLossesChart = new Chart(netEarningsVsLossesContext, {
	  type: 'line',
	  data: data,
	  options: {
	  	maintainAspectRatio: false,
	  	responsive: true,
	  	plugins: {
			legend: {
				position: 'top',
			},
			title: {
				display: true,
				text: 'Net Earnings, Gross Earnings and Losses of all Tournaments played'
			},
			tooltip: {
				callbacks: {
					label: function(context) {
						let label = context.dataset.label || '';

						if (label) {
							label += ': ';
						}
						if (context.parsed.y !== null) {
							label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(context.parsed.y);
						}
						return label;
					}
				}
			}
		},
		scales: {
			y: {
				ticks: {
					callback: function(value, index, ticks) {
						return '$' + value;
					}
				}
			},
		},
	    onClick: (e) => {
	    }
	  }
	});

	// Height / Width
	const chartAspectRatio = .7;

	// The point at which the chart size will become constant.
	const windowWidthInflectionPoint = 700;

	const chartPaddingSmall = 16;

	$(document).ready(function() {
		const windowHeight = window.innerHeight;
		const windowWidth = window.innerWidth;
		if (windowWidth <= windowWidthInflectionPoint) {
			const chartWidth = (windowWidth - (2 * chartPaddingSmall))
			netEarningsVsLossesChart.canvas.parentNode.style.width = chartWidth + "px";
			netEarningsVsLossesChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		} else {
			// Set constant width of 700px - padding if the window is bigger than 700px
			const chartWidth = (700 - (2 * chartPaddingSmall))
			netEarningsVsLossesChart.canvas.parentNode.style.width = chartWidth + "px";
			netEarningsVsLossesChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		}
		onFinishedLoadingCharts()
	})

	window.onresize = function() {
		const windowHeight = window.innerHeight;
		const windowWidth = window.innerWidth;
		if (windowWidth <= windowWidthInflectionPoint) {
			const chartWidth = (windowWidth - (2 * chartPaddingSmall))
			netEarningsVsLossesChart.canvas.parentNode.style.width = chartWidth + "px";
			netEarningsVsLossesChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		}
	}

	function onFinishedLoadingCharts(){
		document.getElementById("id_tournament_complete_spinner").classList.add("d-none")
		document.getElementById("id_charts_container").classList.remove("d-none")
	}

</script>
{% else %}
	{% include 'tournament_analytics/snippets/participate_in_more_tournaments_warning.html' %}
{% endif %} <!-- if tournament_totals|length > 0 -->



















