{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
<div class="container">
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
        <h1>{% trans "Set Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons submit='Set Password' %}{% endbuttons %}
        </form>
    </div>
  </div>
</div>
{% endblock %}
