{% extends "base.html" %}

{% block head_title %}Tournament admin{% endblock %}

{% block content %}

<div class="container" id="parent">
  <div class="row">
    <div class="offset-md-1 col-md-10">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'tournament:tournament_view' pk=tournament.id %}">Tournament</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin view</li>
      </ol>
    </nav>

      <!-- Admin View title-->
      <h2>Admin View</h2>
      <!-- Tournament Title -->
      <h6>{{tournament.title}}</h6>
      <hr>

      <!-- TournamentPlayerData table -->
      {% if player_tournament_data %}
        <div class="tournament-details-group">
          {% if is_bounty_tournament == True or allow_rebuys == True %}
            {% include 'tournament/snippets/player_admin_table_complex.html' with player_tournament_data=player_tournament_data allow_rebuys=allow_rebuys is_bounty_tournament=is_bounty_tournament %}
          {% else %}
            {% include 'tournament/snippets/player_admin_table_simple.html' with player_tournament_data=player_tournament_data %}
          {% endif %}
        </div>
      {% endif %}

      <!-- Tournament state -->
      <h5 class="mt-4">State</h5>
      <hr>
      <div class="tournament-details-group">
        {% include 'tournament/snippets/tournament_state_snippet.html' with tournament=tournament tournament_state=tournament_state %}
      </div>


    </div>
  </div>
</div>

<style type="text/css">

  hr {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  @media only screen and (max-width: 500px) {
    .tournament-details-group {
      margin-bottom: 16px;
      font-size: 12px;
    }
  }

  @media only screen and (min-width: 501px) {
    .tournament-details-group {
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;
      margin-bottom: 16px;
      font-size: 16px;
    }
  }
</style>
{% endblock content %}

















