{% extends "base.html" %}

{% block head_title %}Tournaments{% endblock %}

{% block content %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container">
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
      <h2 class="mb-3">My Tournaments</h2>
      <p>These are Tournaments that you're the admin of.</p>
      <a class="btn btn-primary mb-4" href="{% url 'tournament:create_tournament' %}">Create new Tournament</a>
      {% include 'tournament/snippets/tournaments_list_snippet.html' with tournaments=tournaments %}
	</div>
  </div>
</div>

{% endblock content %}
