{% extends 'base.html' %}

{% block head_title %}Create Tournament{% endblock %}

{% block content %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container">
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
		{% if request.user.is_authenticated %}
		<p>Loggged in as {{user.username}}.</p>
		<p><a href="{% url 'account_logout' %}">logout</a></p>
		<p><a href="{% url 'user:profile' pk=user.pk %}">profile</a></p>
		{% else %}
		<p><a href="{% url 'account_login' %}">login</a></p>
		{% endif %}

		<ul>
			{% if request.user.is_authenticated %}
			<li><a href="{% url 'tournament:create_tournament' %}">Create a Tournament</a></li>
			<li><a href="{% url 'tournament:tournament_list' pk=request.user.pk %}">Tournament list</a></li>
			{% endif %}
		</ul>

		{% if invites %}
		<div class="mt-4">
			<h2>Tournament invites</h2>
			<ul class="mt-3 list-group">
			{% for invite in invites %}
				{% if invite.tournament.get_state_string != "COMPLETED" %}
				<div class="d-flex justify-content-between list-group-item">
					<span>{{invite.tournament.title}}</span>
					<a class="btn btn-primary btn-sm" href="{% url 'tournament:join_tournament' pk=invite.id %}">join</a>
				</div>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
		{% endif %}

		{% if tournaments %}
		<div class="mt-4">
			<h2 class="mb-3">Joined Tournaments</h2>
			{% include 'tournament/snippets/tournaments_list_snippet.html' with tournament=tournaments %}
		</div>
		{% endif %}
	</div>
  </div>
</div>

{% endblock content %}













